table {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 500px;
    background-color: lightblue;
    color: black
  }
  th.mat-header-cell, td.mat-cell{
    text-align: left;
    max-width: 300px;
    color: black
  }